// Base
@import '../../styles/mixins';
@import '../../styles/variables';

// Components
@import '../../styles/components/head-bar';

.head-login {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 10px 5px;

	&-brand {
		max-width: 200px;
	}
}

.form {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;

	&-control {
		@include transition;
		border: 1px solid $gray-light-color;
		border-radius: 4px;
		color: $gray-dark-color;
		font-family: $font-family-base;
		font-size: .875rem;
		height: 40px;
		margin-bottom: 10px;
		padding: 5px 15px;
		width: 90%;

		&:focus {
			border-color: $primary-color;
			outline: none;
		}

		&::placeholder {
			font-size: 16px;
		}
	}
}
