// Base
@import '../../styles/mixins';
@import '../../styles/variables';

.menu {
	@include transition($timing: .4s);
	background-color: $white-color;
	bottom: 0;
	box-shadow: 5px 0px 10px 0px rgba(#000 ,.75);
	left: 0;
	max-width: 320px;
	position: fixed;
	top: 0;
	transform: translateX(-200%);
	width: 80%;
	will-change: transform;

	&.is-open {
		transform: translateY(0);
	}

	&-user {
		align-items: center;
		background: $primary-color;
		border-bottom: 1px solid $gray-light-color;
		display: flex;
		padding: 10px 15px;

		.image {
			border-radius: 50%;
			border: 2px solid $white-color;
			height: 50px;
			width: 50px;
		}
	}

	&-information {
		color: $white-color;
		font-size: 1rem;
		font-weight: $font-weight-semibold;
		padding-left: 10px;

		> .identifier {
			display: block;
			font-size: .6125rem;
			font-weight: $font-weight-normal;
		}
	}

	&-link {
		border-bottom: 1px solid $gray-light-color;
		color: $gray-dark-color;
		display: block;
		font-size: .875rem;
		padding: 15px;
		text-decoration: none;
	}
}
