// Colors
$primary-color: #9bae0c;
$secondary-color: #8ba719;
$gray-dark-color: #505050;
$gray-light-color: #EFEFEF;
$white-color: #FFF;

// Font Family
$font-family-base: 'Raleway', sans-serif;

// Font Weights
$font-weight-normal: 400;
$font-weight-semibold: 600;
