// Colors
$primary-color: #9AAE04;
$gray-dark-color: #505050;
$gray-light-color: #EFEFEF;
$white-color: #FFF;

// Font Family
$font-family-base: 'Montserrat', sans-serif;

// Font Weights
$font-weight-normal: 400;
$font-weight-semibold: 600;
