<div class="content" fxLayout="column">
  <div class="head-bar">
    Beca IOS
  </div>

  <p class="text">Olá, {{name}}, esta é uma lista dos novos becários IOS</p>

  <div class="profile-card" *ngFor="let profile of profiles" (click)="showDetails(profile)">
    <div class="div-image">
      <img class="image" src="{{profile.image}}" alt="Photo of User">
      <div class="div-info">
        <span>{{profile.name}}</span>
        <span>{{profile.description}}</span>
      </div>
    </div>
  </div>