<div style="text-align:center;" class="content" fxLayout="column">
  <div class="head-bar">
      Beca IOS
    </div>
    <div class="container">
      <img
        width="100"
        height="100"
        alt="Angular Logo"
        style="border-radius:50%; margin-top: 16px"
        src="{{ userData.image }}"
      />
    </div>

    <div style="margin-top: 16px">
      <h4>
        <strong>{{ userData.name }}</strong>
      </h4>
    </div>

    <div class="profile-card">
        <h5>Descrição</h5>
        <p>{{ userData.description }}</p>
    </div>

    <div class="content" style="margin-top: 16px"></div>
</div>

<router-outlet></router-outlet>
