<div class="content" fxLayout="column">
	<a class="head-bar-back" [routerLink]="['/profile-list']" title="Voltar">Voltar</a>

	<div class="content">
		<div class="details-card">
			<img class="details-image" src="{{ userData.picture }}" alt="{{userData.name}}">
			<h2 class="details-name">{{ userData.name }}</h2>
			<span class="details-id">@{{ userData.id }}</span>
		</div>

		<div class="details-description">
			<p>{{ userData.desc }}</p>
		</div>
	</div>

</div>

<router-outlet></router-outlet>
