<div style="text-align:center" class="content">

  <mat-toolbar color="primary">
      <span>IOS</span>
      <span class="example-fill-remaining-space"></span>
  
    </mat-toolbar>

<div>

  <div class="container">
      <img width="100" alt="Angular Logo" 
style="border-radius:50%; margin-top: 16px"
src="assets/avatar.png">
  </div>

  <div style="margin-top: 16px">
    <h2>{{name}}</h2>
  </div>

  <div>
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><h5>Descrição</h5></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{description}}</p>
          </mat-card-content>
        </mat-card>
  </div>

  <div class="content" style="margin-top: 16px">
  </div>
</div>

</div>

<router-outlet></router-outlet>